.card li{
    cursor: default;
    text-align: center;
    background-color: #ffffff;    
}

.card {
    list-style: none;
    text-align: center;
    background-color: #ffffff;
    flex-wrap: wrap;
    border-radius: 15px;
    margin-top: 50px;
    overflow:hidden;
    padding: 1rem;
    justify-content: center;
    height: 100%;
    width: 40vw;
    min-height: 18.5rem;
    font-size: 1rem;
}

.card img{
    margin: 1rem auto 0 auto;
    max-height: 8em;
    max-width: 10em;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;

}