.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.login {
    position: absolute;
    bottom: -200px;
    padding: 10px;
    background: #ffffff;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .7);
    transform: scale(0);
    transition: .6s;
    transform-origin: top ;
}

.login.open {
    transform: scale(1);
}

